.slide {
  position: relative;
  width: fit-content;
  height: 85vh;
}
.slide__background-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 700px;
  place-items: center;
  margin-top: 0;
  margin-top: 1;
}
.enterprise.navbar,
.enterprise .navebar__container {
  background: transparent;
}

.container_empresa {
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* grid-template-columns: auto auto; */
  /* gap: 3rem; */
  align-items: center;
  grid-template-columns: 1.5rem auto;
  gap: 25.825rem;
}

.container_empresa h4 {
  width: 450px;
  height: 100px;
  font-size: 25px;
  line-height: 25px;
  color: #333333;
  font-weight: 700;
  margin-top: 0;
}

.container_empresa h2 {
  font-size: 17px;
  line-height: 27px;
  color: #333333;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 10rem;
  margin-left: 1rem;
  width: 370px;
}
.empresa__image {
  background-repeat: no-repeat;
  background-attachment: left;
  background-size: cover;
  height: 600px;
  margin-top: 0;
}

.brands {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 50vh;
  align-items: center;
  width: 100%;
  margin: 0 0;
  height: 500px;
  background-color: #00a3e8;
}

.brands h2 {
  width: fit-content;
  font-size: 25px;
  line-height: 31px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.empresa-logo {
  place-items: center;
}

.empresa_video {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 80vh;
  align-items: center;
  width: 100%;
  margin: 0 0;
  height: 600px;
}
