.slide {
  position: relative;
  width: fit-content;
  height: 85vh;
}

.slide__background-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 700px;
  place-items: center;
  margin-top: 0;
  margin-top: 1;
}

.enterprise.navbar,
.enterprise .navebar__container {
  background: transparent;
}

.container_empresa {
  align-items: center;
  padding: 0 0 4.375rem 0;
  padding: 1rem;
  width: fit-content;
  margin-top: 1rem;
  margin-right: 1rem;
  gap: 10.825rem;
  padding: 1.875rem 0;
}

@media screen and (min-width: 1280px) {
  .container_empresa {
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1.5rem auto;
    gap: 25.825rem;
  }
}

.container_empresa h4 {
  width: 25rem;
  height: 6.25rem;
  font-size: 1.5rem;
  line-height: 1.556rem;
  color: #333333;
  font-weight: 700;
  align-items: center;
  padding: 0 1rem 1.875rem 1rem;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .container_empresa h4 {
    font-size: 1.56rem;
    line-height: 1.56rem;
    width: 28rem;
    height: 6.25rem;
  }
}

.container_empresa h2 {
  font-size: 1.083rem;
  line-height: 1.688rem;
  color: #333333;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 10rem;
  margin-left: 1rem;
  width: 20rem;
}

@media screen and (min-width: 1280px) {
  .container_empresa h2 {
    font-size: 1.263rem;
    line-height: 1.688rem;
    margin-right: 10rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 23.125rem;
  }
}

.empresa__image {
  background-repeat: no-repeat;
  background-attachment: bottom;
  background-size: cover;
  height: 45vh;
  width: 100vw;
}

@media screen and (min-width: 1280px) {
  .empresa__image {
    background-repeat: no-repeat;
    background-attachment: left;
    background-size: cover;
    height: 600px;
    margin-top: 0;
    width: 40vw;
  }
}

.brands {
  display: fit;
  align-items: center;
  justify-items: center;
  min-height: 50vh;
  align-items: center;
  width: 100%;
  margin: 0 0;
  height: 31rem;
  background-color: #00a3e8;
}

@media screen and (min-width: 1280px) {
  .brands {
    display: grid;
  }
}

.brands h2 {
  width: fit-content;
  font-size: 25px;
  line-height: 31px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.empresa-logo {
  place-items: center;
}

.empresa_video {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 70vh;
  align-items: center;
  width: 2rem;
  margin: 0 0;
  height: 3rem;
}

@media screen and (min-width: 1280px) {
  .empresa_video {
    width: 100%;
    margin: 0 0;
    height: 600px;
  }
}

.empresa_video video {
  width: 300;
  height: 100;
}
