.events {
  margin: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .events {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 1200px;
  }
}

.events_1,
.events_2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 16rem 13.5rem 5rem;
  padding: 1rem;
  margin: auto auto;
}

@media screen and (min-width: 1280px) {
  .events_1,
  .events_2 {
    display: grid;
    grid-template-columns: 247px 600px 255px;
    grid-template-rows: auto auto auto;
    width: 105%;
  }
}

.events_3 {
  display: grid;
  grid-template-columns: 20rem;
  columns: 40rem;
  grid-template-rows: 16rem 30rem 10rem;
  background-color: #cfcaca;
  padding: 1rem;
}

@media screen and (min-width: 1280px) {
  .events_3 {
    display: grid;
    grid-template-columns: 247px 650px 200px;
    grid-template-rows: auto auto auto;
    width: 105%;
    background-color: #cfcaca;
    gap: 3rem;
    margin: 0;
    margin-left: 0;
    padding: 0rem;
    margin-bottom: 0;
  }
}

.events-buni {
  text-transform: uppercase;
  margin-bottom: 0.02rem;
}

@media screen and (min-width: 1280px) {
  .events-buni {
    text-transform: uppercase;
    margin-bottom: 0.02rem;
  }
}

.btn--events_comochegar {
  font-size: 0.25rem;
  padding-left: 0.85rem;
  background-color: unset;
}

.events_1_img,
.events_2_img,
.events_3_img,
.events_4_img {
  float: right;
  margin: auto auto;
  /*margin-top: 0.725rem;
  margin-right: 3rem;
  margin-left: 2.5rem;
  padding-left: 2rem;
  margin-bottom: 0.12rem;*/
}

@media screen and (min-width: 1280px) {
  .events_1_img,
  .events_2_img,
  .events_3_img,
  .events_4_img {
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 0rem;
    margin-bottom: 2.5rem;
    padding-left: 0.5rem;
  }
}

.events_1_text,
.events_2_text,
.events_3__text {
  float: right;
  width: 90%;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .events_1_text,
  .events_2_text,
  .events_3__text {
    float: right;
    width: 31.25rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 2rem;
  }
}

.events img {
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.events h2 {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 18px;
  color: #00a3e8;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.events i {
  color: #00a3e8;
}

.events h4 {
  display: grid;
  /*grid-template-columns: 1.5rem auto;*/
  gap: 0.825rem;
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1, 675rem;
}
