.hero {
  position: relative;
  height: 34.625rem;
}

.hero__background {
  background-color: black;
  position: absolute;
  z-index: -1;
  object-fit: contain;
  object-position: Center;
}

.hero__copy {
  position: absolute;
  margin-top: 3rem;
  top: 0;
  right: 0;
  width: 102vw;
  padding: 0rem 0.775rem;
}

@media screen and (min-width: 1280px) {
  .hero__copy {
    position: absolute;
    align-items: center;
    bottom: 0ch;
    margin: auto auto;
    width: 50vw;
    padding: 7rem 1.875rem;
  }
}

.hero__copy h2 {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 5rem;
  font-size: 4rem;
  color: var(--color-primary);
  letter-spacing: -0.315rem;
  line-height: 6.5rem;
  align-items: center;
  -webkit-text-stroke-width: 0.0455rem;
  -webkit-text-stroke-color: #fff;
}

@media screen and (min-width: 1280px) {
  .hero__copy h2 {
    font-size: 7.5rem;
    line-height: 7.5rem;
    margin-bottom: 4rem;
    -webkit-text-stroke-width: 0.0755rem;
    -webkit-text-stroke-color: #fff;
  }
}

.hero__copy p {
  color: var(--color-copy--alt);
  font-size: 1rem;
  line-height: 0.875;
  margin: 0;
}
