.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: unset;
  font-weight: 300;
  color: #fff;
}

.navebar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  width: 100vw;
  height: 5.75rem;
  padding: 0 1rem;
  background-color: unset;
  font-weight: 300;
  color: #fff;
}

.navbar__links {
  justify-self: end;
  display: none;
}

@media screen and (min-width: 1280px) {
  .navbar__links {
    display: flex;
  }
}

.navbar__links.active {
  display: grid;
  position: absolute;
  place-items: center;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: #000e;
  margin: 0;
  padding: 3rem 2rem;
}

.navbar__links li {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .navbar__links li {
    font-size: 1rem;
    margin-right: 3rem;
  }
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
}

.navbar__links a.active {
  color: var(--color-primary);
}
.navbar__links a:hover {
  color: var(--color-primary);
}

.copy-primary span {
  border: #000;
}

.navbar__menu-btn {
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: fit-content;
  color: #fff;
  background-color: unset;
  border: unset;
  justify-self: end;
  align-self: start;
  font-size: 2.5rem;
  margin-top: 1rem;
}

@media screen and (min-width: 1280px) {
  .navbar_menu-btn {
    display: none;
  }
}
