@media screen and (min-width: 1280px) {
  .hero__copy {
    position: absolute;
    align-items: center;
    bottom: 0ch;
    margin: auto auto;
    width: 50vw;
    padding: 1rem 1.875rem;
  }
}

.hero__copy_testimonials h2 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  color: var(--color-primary);
  letter-spacing: -0.315rem;
  line-height: 7.5rem;
  align-items: center;
  -webkit-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: #fff;
}

.hero__copy h3 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 3px;
  line-height: 4rem;
  font-weight: 300;
  font-family: "Montserrat";
}

@media screen and (min-width: 1280px) {
  .hero__copy h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 10px;
    font-weight: 400;
    font-family: "Montserrat";
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.hero__copy p {
  color: azure;
}

.depoimento_container {
  height: fit-content;
  width: fit-content;
  background-color: #00a3e8;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

@media screen and (min-width: 1280px) {
  .depoimento_container {
    height: fit-content;
    width: fit-content;
    background-color: #00a3e8;
    padding-left: 35rem;
    padding-right: 30rem;
    padding-top: 1rem;
    padding-bottom: 20rem;
  }
}

.slider2 {
  position: relative;
  height: 50rem;
  background-color: #00a3e8;
  color: #000000;
}

.slide2 {
  position: relative;
  height: 50vh;
  background-color: #00a3e8;
  color: #000000;
  margin-left: 0rem;
  margin-right: 0rem;
}

@media screen and (min-width: 1280px) {
  .slide2 {
    position: relative;
    height: 50vh;
    background-color: #00a3e8;
    color: #000000;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem 20rem;
  }
}

@media screen and (min-width: 1280px) {
  .slider2 {
    position: relative;
    height: 50rem;
    background-color: #00a3e8;
    color: #000000;
  }
}

.slick-dots li button {
  margin: 0 0;
  padding-top: 3rem;
}

.slick-dots {
  margin: 0 0;
}
.depoimento-img {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 20rem;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .depoimento-img {
    margin-right: 25rem;
    margin-left: 25rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 26rem;
    display: block;
  }
}

.slide2 h2 {
  font-size: 3rem;
  line-height: 0.01rem;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  align-items: center;
  margin: auto auto;
  margin-top: 0.25rem;
  padding-top: 0.5rem;
  margin-bottom: 1.75rem;
  padding-left: 2rem;
}

@media screen and (min-width: 1280px) {
  .slide2 h2 {
    font-size: 5rem;
    letter-spacing: 0.073rem;
    line-height: 0.05rem;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    align-items: center;
    margin: auto auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 27rem;
  }
}

.slider2 span {
  letter-spacing: 0.25rem;
  line-height: 0.125rem;
  padding-left: 4rem;
}

@media screen and (min-width: 1280px) {
  .slider2 span {
    font-size: 0.975rem;
    margin: 0;
    letter-spacing: 0.25rem;
    line-height: 0.125rem;
    padding-top: 1rem;
    padding-left: 26rem;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
  }
}

.slide2 h3 {
  font-size: 8rem;
  letter-spacing: 0.073rem;
  line-height: 0.05rem;
  align-items: center;
  margin: auto auto;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  padding-left: 10rem;
}

@media screen and (min-width: 1280px) {
  .slide2 h3 {
    font-size: 8rem;
    letter-spacing: 0.073rem;
    line-height: 0.05rem;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    align-items: center;
    margin: auto auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-left: 35rem;
  }
}

.slide2 p {
  width: 40.813rem;
  font-size: 1.22rem;
  line-height: 1.875rem;
  text-align: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 20rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 1280px) {
  .slide2 p {
    width: 80.813rem;
    height: 4.688rem;
    font-size: 1.32rem;
    line-height: 1.875rem;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding-top: 1rem;
    padding-left: 15rem;
    padding-right: 18rem;
    margin-top: 0.5rem;
  }
}
