@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
* {
    box-sizing: border-box;

}
:root {
--color-primary: #4d10da;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}
body{
    margin:0;
    padding-top: 5rem
}

ul {
    display:flex;
    list-style: none;
    padding-left: 0;
}


.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    top:0;
    left: 0;

    width: 100vw;
    height: 5.75rem;
    padding: 0 1rem;

    background-color :black;
    font-weight: 300;
    /* red/green/blue/trans -0-*/
    color :#fff; 

}
.navebar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
    text-transform: uppercase;

}
.navebar__links {
    justify-self: end;
}

.navebar__links a { 
    color: #fff;
    text-decoration: none
}
.navebar__links a:hover {
 color: var(--color-primary)
}
.logo--studion {
    font-size: 2,375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
}

.logo--studion__subtitle{
    font-size: 0.875rem;
    float:right;
    font-weight: 300;    
}
.copy-primary {
color: var(--color-primary);
}

